.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.HeaderContainer {
  background-color: beige;
  display: flex;
  flex-direction: row;
  padding: 5%;
}

.HamburgerWrapper {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

ul {
  list-style-type: none;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  margin: 0;
  background-color: coral;
}

li {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  height: 60px;
  margin: 5px;
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li button {
  border: none;
  background: none;
  color: coral;
}

button h2 {
  margin: 0;
  font-size: 1.25rem;
  color: coral;
}

.NavLink {
  display: flex;
  flex-direction: column;
  color: coral;
  margin: 0;
  height: 60px;
  align-items: center;
  justify-content: center;
}

#Logo {
  color: coral;
}

.Sidebar {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: coral;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Show {
  transition-timing-function: ease-in;
  transition: 0.7s;
  transform: translateX(83%);
}

.Hidden {
  transition-timing-function: ease-out;
  transition: 0.7s;
  transform: translateX(-100%);
}

.NavContainer {
  display: none;
}

/* Wallet Connected indicator */
.Light {
  width: 5px;
  height: 5px;
  background-color: black;
}

/* Content */
.RouteWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.ContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: justify;
  width: 60%;
}

.ContentWrapper h2 h3 {
  text-align: center;
  margin-bottom: 0.5rem;
}

.ContentWrapper h3 {
  margin: 0;
}

.MintButton {
  margin: 0;
  font-size: 1.25rem;
  color: coral;
  background: none;
  box-shadow: 1px 1px 1px coral;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
  height: fit-content;
}

.RouteWrapper {
  margin-bottom: 5rem;
}

/* Tablet or larger */
@media screen and (min-width: 760px) {
  .HeaderContainer {
    align-items: center;
    letter-spacing: 1px;
    padding: 50px 5%;
    padding-right: 1%;
  }

  .HeaderContainer h1 {
    margin: 0;
    margin-right: auto;
  }

  .HamburgerWrapper {
    display: none;
  }

  .NavContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
  }

  ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background-color: beige;
    padding: 0;
    margin-right: 3rem;
  }

  li {
    box-shadow: none;
    border-radius: 10%;
  }

  li:hover {
    text-decoration: underline;
    color: coral;
  }

  button {
    cursor: pointer;
  }

  .NavLink {
    margin: 0 1rem;
    text-decoration: none;
    cursor: pointer;
    color: coral;
  }

  .ConnectWallet,
  .MintButton {
    border-radius: 12px;
    box-shadow: 1px 1px 1px coral;
    font-size: 1.2rem;
  }

  .MintContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .Sidebar {
    display: none;
  }

  .Hidden {
    display: none;
  }
}
