.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.HeaderContainer {
  background-color: beige;
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 50px 5%;
}

.HeaderContainer h1 {
  margin: 0;
  margin-right: auto;
}

.NavContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
}

.NavLink {
  margin: 0 1rem;
}

.ConnectWallet,
.MintButton {
  height: 50px;
  width: 170px;
  border-radius: 12px;
  box-shadow: 2px 2px 2px red;
  font-size: 1.2rem;
}

.ContentWrapper {
  margin: 10px;
}

.MintContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
